body {
    background-image: url('welcome.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    margin: 100px auto;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #000;
}

p {
    font-size: 24px;
    margin-bottom: 50px;
    color: #000;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #f2c84c;
    color: #fff;
}